<link rel="stylesheet" href="/header.css">

<header> 
    <div class="isologo">
    <i class="fa-solid fa-3x fa-baseball nav-ball"></i>
    <h1>Softbol play</h1>
    <p> Un deporte en crecimiento.</p>
    </div>
</header>
