<link rel="stylesheet" href="/noAuth.css">

<div class="container-pag">
  <h1>¡No puedes pasar, debes estar registrado!</h1>
  <br>
  <div class="imagen-content">
          <img src="images/no-puedes-pasar.jpg"
        alt="no tienes acceso a este sitio">
      <div class="boton">
        <a href="/" class="btn">Volver al inicio</a>
      </div>
  </div>
</div>