<link rel="stylesheet" href="/secret.css">

<a href="/users/settings"><input class="config-boton" type="button" value="Configuracion de cuenta"></a>

<div class="titulo-container">
  <h2>Hola {{user}}</h2>
  <p>¡Usted ya es parte de nuestro equipo!</p>
  

  <section class="como-se-juega-container spacer"> 
  
    <h2>¿Comó se juega?</h2>
 
    <div class="como-se-juega">

 <figure class="como-se-juega-video">
 <iframe width="400" height="275.5" src="https://www.youtube.com/embed/V8zANAU-_-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
</figure>    

    <p>La finalidad del sóftbol es golpear fuerte la bola con un bate para mandarla lejos y recorrer las tres bases distribuidas en el campo –dispuestas en forma de diamante– para volver al punto de salida y anotar una carrera. Gana el equipo que más carreras tenga después de siete entradas, es decir, después de siete cambios de equipo, que se producen cuando consiguen eliminar a tres jugadores.
   En el sóftbol hay dos equipos de nueve participantes cada uno, que durante el partido se irán alternando para adoptar la figura defensiva u ofensiva. El primero de ellos está repartido por el campo, con el fin de abarcar toda la zona de juego. Hay dos posiciones especiales dentro de este grupo, el lanzador o pitcher, que se encuentra justo enfrente de la primera base y es el encargado de lanzar la bola al bateador, y el receptor o catcher, que está colocado detrás del que batea para recogerla en caso de fallo. El resto de jugadores estará cerca de las bases o en la zona de césped. Pero existen algunas maneras de que los bateadores y corredores de softball sean eliminados como, por ejemplo:
    <ul> 
        <li> Si cogen la bola en el aire: si al golpear la bola esta es cogida por un miembro del equipo defensivo antes de que toque el suelo, el bateador será eliminado.</li>

        <li>Cuando tocan al corredor con la bola: si el corredor es tocado con la bola antes de llegar a alguna base debe retirarse del campo.</li> 

        <li> Si posan la bola sobre la base: si un jugador defensivo atrapa la bola y toca con ella la base antes de que el corredor llegue, esta queda anulada, por lo que el jugador será eliminado.</li>

        <li> Tres strikes: golpear mal la bola, no darle, o lanzarla fuera de las zonas laterales delimitadas, supone un strike, y cuando se producen tres seguidos el participante es expulsado del juego.</li>
    </ul>

    Existen algunas normas a la hora de realizar el lanzamiento, así, la mano del jugador que pone en juego la bola debe hacerlo por debajo del pecho y hacia una zona comprendida por encima de la base (home) y un rectángulo imaginario entre las axilas y las rodillas del bateador; si lo hace fuera de esa zona no será válido. El árbitro se colocará en cada lanzamiento detrás del receptor para comprobar que esto se cumple.</p>
 
 </div>
 </section>


  
</div>