html { 
    font-family: "Roboto"; 
    
}

.spacer {
    margin: 4rem 0;
}


.imagen-content img {
    justify-content: center;
    border: solid 10px darkgrey;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: auto;
}

.container-pag h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    color: rgba(225, 151, 22, 0.87);
}

.btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(14, 9, 9);
    background-color: darkgrey;
    text-align: center;
    margin-top: 50px;
}

.btn:hover {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(246, 242, 240);
    background-color: rgba(225, 151, 22, 0.87);
    text-align: center;
         
}